section{
  overflow: auto;
}
.contenedor02{
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  border: 1px solid #878787;
  overflow: auto;
}
.bandera{
  width: 161px;
  height: 126px;
  float: left;
}
.yellow02{
  background-color: #FFFF00;
}
.blue02{
  background-color: #0000BA;
}
.red02{
  background-color: #DC0000;
}
