section{
  overflow: auto;
}
.contenedor03{
  width: auto;
  height: auto;
  background-color: #FFFFFF;
  border: 1px solid #878787;
  overflow: auto;
}
.bandera{
  width: 161px;
  height: 126px;
  float: right;
}
.yellow03{
  background-color: #FFFF00;
}
.blue03{
  background-color: #0000BA;
}
.red03{
  background-color: #DC0000;
}
